<!-- start of blog header -->
<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">My blog or other title</h1>
    <p class="lead blog-description">Catchy subheading</p>
    <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>
<!-- start of blog header -->