<!-- start of blog header -->
<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Once more unto the breach ... </h1>
    <p class="lead blog-description">Henry V</p>
    <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>
<!-- start of blog header -->