<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My experience</h1>
    <p class="lead text-muted">Details of my previously-held roles and examples of my work are set out under here. Click through the items to see what makes me professionally. If you'd like to talk anything through, find me within various options <%= link_to 'here', contact_path %>.</p>
    <p>
      <%= link_to 'Find out about me', about_path, class: 'btn btn-primary' %></a>
      <%= link_to 'Get in touch!', contact_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>