<h1>Who am I?</h1>
<div class='row'>
	<div class='col-md-4'>
		<%= image_tag "profile.jpg", width: 300, alt: 'Profile pic'%>
	</div>
	<div class='col-md-8'>
		<p>This page will give details about me personally, my likes, dislikes, attitudes, pastimes, what makes me tick etc. Keep it open-handed and light but with an underlying seriousness - I mean this.</p>
	</div>
</div>

