<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">So, you've been a victim of a data breach?</p>
    <p class="lead">
  	Look no further. Just provide us with a few bits of information.  We will step into the breach & take it from here. You may get compensated.
  </p>
  <p class="lead">
    <%= link_to "Get Started!", about_path, class: "btn btn-lg btn-secondary" %>
  </p>

</div>